<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="dns-prefetch" href="//quick.as">
        {{ "embed.css" | asset_url | stylesheet_tag }}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        {{ "embed.js" | asset_url | script_tag }}
    </head>
    <body>
        <div class="wrapper">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>