<header class="page-head">
	<section class="banner">
		<span class="gradient"></span>
		<div class="position">
			<div class="svg"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 93.793 93.793" xml:space="preserve"><path fill="#FFFFFF" d="M46.896,18.577c-15.641,0-28.319,12.679-28.319,28.319s12.679,28.319,28.319,28.319s28.32-12.679,28.32-28.319S62.536,18.577,46.896,18.577z M46.896,64.196c-9.555,0-17.299-7.745-17.299-17.3s7.744-17.3,17.299-17.3s17.3,7.745,17.3,17.3S56.45,64.196,46.896,64.196z"/><path fill="#35403A" d="M47.466,42.515l32.283-0.011l-0.006,8.778l-32.285,0.012L47.466,42.515z"/><circle fill="#35403A" cx="46.949" cy="46.896" r="4.42"/></svg></div>
			<h1><span class="make">Make.</span> <span class="publish">Publish.</span> <span class="share">Share.</span> <span class="screencasts">3 Minute Screencasts</span></h1>
		</div>
		<a href="#content" class="btn">Get the Mac App</a>
		<a href="#" class="cc"></a>
	</section>
</header>