{% layout "general" %}
{% block content %}
	<div class="content not-found">
		<h1>Oh! it's a 404</h1>
		<p>The page you are looking for may have been removed, please check the URL is correct and try again.</p>
		<p>Alternatively <a href="/">go to the homepage</a>.</p>
	</div>
{% endblock %}