{% layout "general" %}
{% block content %}
	<div class="content not-found">
		<h1>Uh oh! request failed</h1>
		<p>We've encountered an issue with your request, we've logged the error &mdash; in the meantime, please try again.</p>
	</div>
{% endblock %}