{% layout "general" %}
{% block content %}
	<div class="content general">
		<div class="body">
			<h1>About</h1>
			<p>QuickCast is an open source project by <a href="http://twitter.com/petetak">Pete Nelson</a>, <a href="http://twitter.com/neiltak">Neil Kinnish</a> &amp; <a href="http://twitter.com/domtak">Dom Murphy</a>.</p><p>QuickCast has been designed &amp; developed rapidly over a few days and so you may spot issues or bugs, if you do or would simply like to suggest improvements please <a href="http://twitter.com/quickcast">let us know</a> or <a href="/source">get involved</a>. You may also find answers to questions in our <a href="/faqs">FAQs</a>.</p>
			<p>Here's an example QuickCast...</p>
			<p><iframe name='quickcast' src='http://quick.as/embed/gnuk' scrolling='no' frameborder='0' width='100%' allowfullscreen></iframe><script>!function(){function n(){var n=document.getElementsByName('quickcast')
for(var e in n){var t=n[e].offsetWidth
n[e].height=t/1.6+'px'}}n(),window.onresize=n,window.addEventListener('message',function(n){window.location.href=n.data},!1)}()
</script></p>
		</div>
	</div>
{% endblock %}