{% layout "general" %}
{% block content %}
	<div class="content general">
		<div class="body">
			<h1>About</h1>
			<p>Created by <a href="http://twitter.com/petetak">Pete Nelson</a>, <a href="http://twitter.com/neiltak">Neil Kinnish</a> &amp; <a href="http://twitter.com/domtak">Dom Murphy</a>.</p><p>Sparked to life from an initial desire to create quick &amp; focused screencasts. We decided it was the perfect project we could 'hack' together very quickly.</p><p>As it's been developed rapidly you will no doubt encounter the odd issue and of course the project can always be improved. If you would like to suggest improvements please <a href="http://twitter.com/quickcast">let us know on Twitter</a> or use the relevant issue tracker on GitHub &mdash; It's open source so please get involved.</p><p>If you have more questions, you may find the answers in our <a href="/faqs">FAQs</a>.</p>
			<section class="section">
				<h1>Open Source</h1>
				<p>There are 3 GitHub repositories for QuickCast, they include...</p>
				<ol>
					<li>The Mac application (objective-c) &mdash; <a href="https://github.com/petetak/quickcast">View GitHub repository</a>.</li>
					<li>The API + Viewer: quick.as (node.js + postgres) &mdash; <a href="https://github.com/neilkinnish/quick.as">View GitHub repository</a>.</li>
					<li>This site: quickcast.io (a <a href="http://mixture.io">Mixture</a> project) &mdash; <a href="https://github.com/neilkinnish/quickcast.io">View GitHub repository</a>.</li>
				</ol>
			</section>
			<section class="section">
				<h1>Thanks</h1>
				<p>To the following people who helped break and test QuickCast... <a href="http://twitter.com/rem">Remy Sharp</a>, <a href="http://twitter.com/mikekus">Mike Kus</a>, <a href="http://twitter.com/olilish">Oli Lisher</a>, <a href="http://twitter.com/dandenney">Dan Denney</a>, <a href="http://twitter.com/marcroberts">Marc Roberts</a>, <a href="https://twitter.com/KirstyBurgoine‎">Kirsty Burgoine</a>, <a href="https://twitter.com/kieranmasterton">Kieran Masterton</a>, <a href="https://twitter.com/greg_a">Greg Annandale</a> &amp; <a href="http://twitter.com/robeam">Adam Robertson</a>.</p>
			</section>
		</div>
	</div>
{% endblock %}