{% layout "general" %}
{% block content %}
	<div class="content general">
		<div class="body">
			<h1>Download</h1>
			<p>Sorry, we're busy alpha testing the application &mdash; we'll be updating the site shortly with the link.</p>
			<p>In the meantime follow QuickCast on <a href="http://twitter.com/quickcast">Twitter for updates</a>.</p>
		</div>
	</div>
{% endblock %}