{% layout "embed" %}
{% block content %}
<div class="container">
	<video preload="auto" data-width="1440" data-height="900" data-intro="Mixture: Creating a simple Blog with Collections" data-outro="Thanks!"><source src="https://s3.amazonaws.com/quickcast/1/161/quickcast-small.mp4" type="video/mp4"><source src="https://s3.amazonaws.com/quickcast/1/161/quickcast.webm" type="video/webm"><p>Sorry, your browser does not support the QuickCast video player</p></video>
</div>
{% endblock %}
