{% layout "general" %}
{% block content %}
	<div class="content general">
		<div class="body">
			<h1>FAQs</h1>
			<section>
				<h2>QuickCasts are limited to a maximum of 3 minutes, will there ever be an option to increase this?</h2>
				<p>We think 3 minutes or less is perfect for quick, concise screencasts &mdash; but never say never.</p>
			</section>
			<section>
				<h2>Is it only available for the Mac?</h2>
				<p>Yes, we built QuickCast over just a few days - if there is enough desire for additional platforms we will consider building. QuickCast is open source, if you'd like to get involved building for other platforms you can.</p>
			</section>
			<section>
				<h2>I'm on an older browser and the videos don't work correctly</h2>
				<p>We have only designed and built QuickCast to support modern browsers, this allows us to use techniques to improve the experience for supporing browsers.</p>
			</section>
			<section>
				<h2>When I select a small area to record, I no longer have the option to add an intro or outro to my QuickCast - why?</h2>
				<p>We call these Micro casts, they are a QuickCast with either a width or height below 300 pixels - too small for an intro or outro. They are pefect for dropping into pages to add context to a piece of content. We purposely remove the full menu from these videos and just have play / pause.</p>
			</section>
			<section>
				<h2>There are features that I want - can I request these?</h2>
				<p>Yes, but better than that - QuickCast is open source so you can contribute to the app and website. Keep in mind that QuickCast is a simple application.</p>
			</section>
		</div>
	</div>
{% endblock %}