{% block content %}
	<div class="content make" id="content">
		<ol>
			<li>
				<div class="detail">
					<h2>Download the App</h2>
					<p>Designed to be lightweight, free and simple to use &mdash; everything you need to make a 3 minute QuickCast.</p>
					<p>Right now QuickCast is Mac only, but it's <a href="/about">open source</a> so if you would like to see QuickCast on more platforms please get involved.</p>
					<a href="https://s3.amazonaws.com/quickcast-app/mac/QuickCast.dmg" class="download"><span class="txt">Download for Mac OS X 10.7+</span></a>
				</div>
			</li>
			<li>
				<div class="detail">
					<h2>Record your QuickCast</h2>
					<p>Once installed, it's easy to record your 3 minute micro masterpiece. Simply select the QuickCast logo in your toolbar and then click record. You'll get a 5 second count-in and then it's showtime.</p>
					<p>Keep an eye on the QuickCast icon, it will indicate how much time you have left.</p>
					<p>Don't worry about messing up, you can re-record at any moment.</p>
				</div>
			</li>
			<li>
				<div class="detail">
					<h2>Publish + Share</h2>
					<p>Once you're happy with your QuickCast, you'll be prompted to publish &amp; share &ndash; it's super easy and every QuickCast benefits from it's own unique URL and embed code to use on your own site.</p>
					<p>Your published links are easily accessible from the QuickCast status bar icon.</p>
					<p>Here's a published example <a href="http://quick.as/bbfkg">quick.as/bbfkg</a></p>
					<p>Simple.</p>
				</div>
			</li>
		</ol>
	</div>
{% endblock %}