{% block content %}
	<div class="content make" id="content">
		<ol>
			<li>
				<div class="detail">
					<h2>Download the App</h2>
					<p>Designed to be lightweight, free and simple to use &mdash; everything you need to make a 3 minute QuickCast.</p>
					<p>Right now QuickCast is Mac only, but it's <a href="/about">open source</a> so if you would like to see QuickCast on more platforms please get involved.</p>
					<a href="https://github.com/petetak/QuickCast/releases" class="download">{% comment %}<span class="logo"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="93.793px" height="93.793px" viewBox="0 0 93.793 93.793" xml:space="preserve"><path fill="#FFFFFF" d="M46.896,18.577c-15.641,0-28.319,12.679-28.319,28.319s12.679,28.319,28.319,28.319s28.32-12.679,28.32-28.319S62.536,18.577,46.896,18.577z M46.896,64.196c-9.555,0-17.299-7.745-17.299-17.3s7.744-17.3,17.299-17.3s17.3,7.745,17.3,17.3S56.45,64.196,46.896,64.196z"/><path fill="#35403A" d="M47.466,42.515l32.283-0.011l-0.006,8.778l-32.285,0.012L47.466,42.515z"/><circle fill="#35403A" cx="46.949" cy="46.896" r="4.42"/></svg></span>{% endcomment %}<span class="txt">Download for Mac OS X 10.7+</span></a>
				</div>
			</li>
			<li>
				<div class="detail">
					<h2>Record your QuickCast</h2>
					<p>Once installed, it's easy to record your 3 minute micro masterpiece. Simply select the QuickCast logo in your toolbar and then click record. You'll get a 5 second count-in and then it's showtime.</p>
					<p>Keep an eye on the QuickCast icon, it will indicate how much time you have left.</p>
					<p>Don't worry about messing up, you can re-record at any moment.</p>
				</div>
			</li>
			<li>
				<div class="detail">
					<h2>Publish + Share</h2>
					<p>Once you're happy with your QuickCast, you'll be prompted to publish &amp; share &ndash; it's super easy and every QuickCast benefits from it's own unique URL.</p>
					<p>Your published links are easily accessible from the QuickCast status bar icon.</p>
					<p>Simple.</p>
				</div>
			</li>
		</ol>
	</div>
{% endblock %}