{% layout "general" %}
{% block content %}
	<div class="content not-found">
		<h1>Maintenance</h1>
		<p>QuickCast is currently offline for important maintenance work &mdash; we'll be back up and running shortly!.</p>
	</div>
{% endblock %}