{% layout "general" %}
{% block content %}
	<div class="content general">
		<div class="body">
			<h1>Source</h1>
			<p>There are currently 3 GitHub repositories for QuickCast:</p>
			<ol>
				<li>The Mac application (objective-c).</li>
				<li>The API + Viewer (node.js + postgres).</li>
				<li>This site (a <a href="http://mixture.io">Mixture</a> project).</li>
			</ol>
			<p>Full details and links to the repositories will be added here shortly.</p>
		</div>
	</div>
{% endblock %}