{% layout "general" %}
{% block content %}
	<div class="content general">
		<div class="body">
			<h1>Source</h1>
			<p>There are currently 3 GitHub repositories for QuickCast:</p>
			<ol>
				<li>The Mac application (objective-c) &mdash; Will be added shortly.</li>
				<li>The API + Viewer (node.js + postgres) &mdash; Will be added shortly.</li>
				<li>This site (a <a href="http://mixture.io">Mixture</a> project) &mdash; <a href="https://github.com/neilkinnish/quickcast.io">View GitHub repository</a>.</li>
			</ol>
		</div>
	</div>
{% endblock %}