{% layout "embed" %}
{% block content %}
<div class="container">
	<video data-width="1440" data-height="900" data-intro="Example QuickCast" data-outro="Peace Out...">
		<source src="https://s3.amazonaws.com/quickcast/1/19/quickcast.mp4" type="video/mp4"/>
		<source src="https://s3.amazonaws.com/quickcast/1/19/quickcast.webm" type="video/webm"/>
	</video>
</div>
{% endblock %}
